<html>
    <head>

    <script type="text/javascript">
        function fillOnLoad(){
            if ('@ViewData["selectedCurrency"]' != "") {
                console.log('selectedCurrency exist!');
                document.getElementById("selSelectedCurrency").value = '@ViewData["selectedCurrency"]';
            }
            if ('@ViewData["selectedCurrency2"]' != "") {
                console.log('selectedCurrency2 exist!');
                document.getElementById("selSelectedCurrency2").value = '@ViewData["selectedCurrency2"]';
            }
            if ('@ViewData["InputtedAmount"]' > 0) {
                console.log('InputtedAmount exist!');
                document.getElementById("txtAmount").value = '@ViewData["InputtedAmount"]';
            }
        }
         
        function checkSelectedCurrency() {
            var selectedCurrency = document.getElementById("selSelectedCurrency").value;
            var selectedCurrency2 = document.getElementById("selSelectedCurrency2").value;
            if (selectedCurrency == "" || selectedCurrency == null) {
                alert("Invalid Currency Convertion.");
            }
            if (selectedCurrency2 == "" || selectedCurrency2 == null) {
                alert("Invalid Currency Convertion.");
            }
        }
    </script>
    </head>

<body onload="fillOnLoad()">
    <div>
        <form action="/currencyConverter/ConverterV2" method="post">
            <h1>Currency Converter V2</h1>
            <table>
                <tr>
                    <td>
                        <label>Choose Currency:</label>
                    </td>
                    <td>
                        <select name="selectedCurrency" id="selSelectedCurrency">
                            <option value="">--SELECT ONE--</option>
                            <option value="usd">USD</option>
                            <option value="sdg">Singapore Dollar</option>
                            <option value="baht">Thai Baht</option>
                        </select>
                    </td>
                </tr>
                <td>
                    <label>Choose Currency:</label>
                </td>
                <td>
                    <select name="selectedCurrency2" id="selSelectedCurrency2">
                        <option value="">--SELECT ONE--</option>
                        <option value="usd">USD</option>
                        <option value="sdg">Singapore Dollar</option>
                        <option value="baht">Thai Baht</option>
                    </select>
                </td>
                <tr>
                    <td>
                        <label>Amount:</label>
                    </td>
                    <td>
                        <input type="text" name="amount" id="txtAmount">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Result(MMK)</label>
                    </td>
                    <td>
                        <input type="text" value="@ViewData["result"]" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Convert" onclick="checkSelectedCurrency()">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>

