@model PersonViewModel
@{
    ViewData["Title"] = "Home";
}

<h1 id="head">Register Form</h1>
<form id="registerForm" action="/home/register" method="post">
      <div class="container">
        <div>
          <label for="nameId"><b>Name</b></label>
          <input
            type="text"
            placeholder="Name"
            name="name"
            value="@Model.Name"
            id="nameId"
            required
          />
        </div>

        <div>
          <label for="emailId"><b>Email</b></label>
          <input type="email" value="@Model.Email" placeholder="Email" name="email" id="emailId" required />
        </div>

        <div>
          <label for="phoneId"><b>Phone</b></label>
          <input type="number" value="@Model.Phone" placeholder="Phone" name="phone" id="phoneId" />
        </div>

        <div>
          <label for="passwordId"><b>Password</b></label>
          <input
            type="password"
            value="@Model.Password"
            placeholder="Password"
            name="password"
            id="passwordId"
            required
          />
        </div>

        <div>
          <label for="password2Id"><b>Confirm Password</b></label>
          <input
            type="password"
            value="@Model.Password2"
            placeholder="Password"
            name="password2"
            id="password2Id"
            required
          />
        </div>

        <div>
          <label><b>Gender</b></label
          ><br />
          <input 
            type="radio"
            name="gender"
            value="male"
            id="maleId"
            required (@Model.Gender ? "checked" : "") />
          <label for="male">Male</label>
          <input
            type="radio"
            name="gender"
            value="female"
            id="femaleId"
            required (@Model.Gender ? "checked" : "" ) />
          <label for="female">Female</label><br /><br />
        </div>

        <div>
          <label for="dobId"><b>Date Of Birth</b></label>
          <input
            type="date"
            placeholder="mm/dd/yyyy"
            name="dob"
            value="@Model.DateOfBirth"
            id="dobId"
            required
          />
        </div>

        <label for="addressId"><b>Address</b></label>
        <input type="text" name="address" id="addressId" value="@Model.Address" />

        <label for="cityId"><b>City</b></label>
        <select name="city" id="cityId">
          <option value="">--Choose City--</option>
          <option value="ygn">Yangon</option>
          <option value="mdy">Mandalay</option>
          <option value="npw">NayPyiDaw</option>
        </select>

        <button type="submit" class="registerbtn">Register</button>

        @* <div
          id="successMessage"
          style="display: none; color: black; text-align: center"
        ></div> *@
        <h1>@Model.SuccessMessage<h1/>
      </div>
    </form>

<script>
    // document
    //   .getElementById("registerForm")
    //   .addEventListener("submit", function (event) {
    //     event.preventDefault();

    //     var email = document.getElementById("emailId").value;
    //     var successMessage = document.getElementById("successMessage");
    //     successMessage.textContent =
    //       "You are successfully register with " + email + " email address";
    //     successMessage.style.display = "block";
    //   });

    function fillOnLoad() {
      if ('@ViewData["name"]' != "") {
        document.getElementById("nameId").value = '@ViewData["name"]';
      }
      if ('@ViewData["email"]' != "") {
        document.getElementById("emaiId").value = '@ViewData["email"]';
      }
      if ('@ViewData["phone"]' != "") {
        document.getElementById("phoneId").value = '@ViewData["phone"]';
      }
      if ('@ViewData["password"]' != "") {
        document.getElementById("passwordId").value = '@ViewData["password"]';
      }
      if ('@ViewData["password2"]' != "") {
        document.getElementById("password2Id").value =
          '@ViewData["password2"]';
      }
        if ('@ViewData["gender"]' != "" && '@ViewData["gender"]' == "male") {
            document.getElementById("maleId").value =
                '@ViewData["gender"]';
        }
        if ('@ViewData["gender"]' != "" && '@ViewData["gender"]' == "female") {
            document.getElementById("femaleId").value =
                '@ViewData["female"]';
        }
      if ('@ViewData["dob"]' != "") {
        document.getElementById("dobId").value = '@ViewData["dob"]';
      }
      if ('@ViewData["address"]' != "") {
        document.getElementById("addressId").value = '@ViewData["address"]';
      }
      if ('@ViewData["city"]' != "") {
        document.getElementById("cityId").value = '@ViewData["city"]';
      }
    }
</script>